<launch>
  <arg name="model" default="burger" />
  <arg name="x_pos" default="2.65" />
  <arg name="y_pos" default="2.05" />
  <arg name="z_pos" default="0.0" />
  <arg name="yaw" default="3.14159" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find smart_community_sim)/worlds/smart_community.world" />
    <arg name="paused" value="false" />
    <arg name="gui" value="true" />
    <arg name="use_sim_time" value="true" />
  </include>

  <param name="robot_description"
         command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model turtlebot3_$(arg model) -param robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw)" />
</launch>
